.dbox{
    margin: 20px auto;
    width: 1190px;
    height: 600px;
}
/* 左边 */
.boxl{
    float: left;
    border:solid 1px #cecece;
}
.boxl>img{
    width:430px;
    height:430px;
}
/* 右边 */
.boxr{
    float: left;
    margin-left: 150px;
    width: 500px;
}
.boxr h2 {
    font-size: 20px;
    position: relative;
    padding-right: 80px;
    font-weight: 700;
    color: #666666;
}
.boxr h3 {
    font-size: 18px;
    position: relative;
    padding-right: 80px;
    color: #666666;
}
.product_titles {
    padding-bottom: 10px;
    line-height: 1.8;
    text-align: left;
}
.product_concerns {
    position: relative;
    font-size: 14px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.product_concerns> ul {
    display: inline-block;
    width: 534px;
    padding: 16px;
    background: #F2F4F6;
}
.product_concerns li {
    line-height: 35px;
    font-size: 14px;
    clear: both;
}
.product_concerns .label {
    width: 50px;
}
.product_concerns .xiang {
    height: auto;
    margin-left: 50px;
}
.product_concerns .xiang > b {
    margin-right: 10px;
    color: #FF5959;
    padding: 0 5px;
    font-size: 30px;
}
del {
    text-decoration: line-through;
}
.product_concerns ul li> ul {
    float: left;
    width: 480px;
}
.product_concerns ul li> ul> li {
    float: left;
    clear: none;
    margin-right: 30px;
    list-style: disc;
    margin-left: 20px;
}

/* 加入数量 */
.product_action{
    width: 534px;
    height: 115px;
    font-size: 14px;
}
.jisuan{
    height: 37px;
}
.jisuan span{
    display: block;
    width: 37px;
    height: 37px;
    border: solid 1px #333333;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    text-align: center;
    line-height: 36px;
}
.jisuan p{
    float: left;
    font-size: 18px;
}
.jisuan input{
    float: left;
    background: none;
	outline: none;
    border: none;
    width: 75px;
    height: 37px;
    border: solid 1px #cecece;
}
/* 按钮 */
.anniu{
    margin-top: 10px;
}
button{
    background: none;
	outline: none;
    border: none;   
}
.buy{
    width: 150px;
    height: 45px;
    border: #FF5959 solid 1px;
    color: #FF5959;
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}
.cart{
    width: 150px;
    height: 45px;
    background: #FF5959;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}



/* 详情 */
.xiang{
	min-height:1000px;
	width:700px;
	
}
.wrap{
	width:1190px;
	margin: 0 auto;
}

.ximg>img{
	width:650px;
	height:750px;
}

.talk{
	width:670px;
	height:500px;
	border:solid 1px #D9D9D9;
}

.left{
	float: left;
}
.right{
	float: left;
	margin-left:20px;
}
.right span{
	display: inline-block;
	width:60px;
	text-align: right;
}