ul,li{
    list-style: none;
}
button {
    margin: 0;
    white-space: nowrap;
    cursor: pointer;
}
body{
    overflow-x: hidden;
    font: 12px/1.5 "Microsoft YaHei",Arial,Helvetica,sans-serif,sans-serif;
    color: #555;
}
/* 轮播 */
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
.lun{
    width: 100%;
    height: 800px;
}
.lun div{
    width: 1920px;
    height: 800px;
    margin-left: -10px;
}
.lun img{
    width: 1920px;
    height: 700px;
    /* vertical-align: middle;  */
}

/* 热销 */
.clip_content{
    width: 1920px;
    height: 770px;
    margin-left: -210px;
}
a {
    color: #555;
}