ul,li{
    list-style: none;
}
.wraplist{
    width: 1190px;
    margin: 0 auto; 
}
/* .product_list{
    width: 1190px;
    margin: 0 auto;
} */
.product_list li{
    float: left;
    width: 260px;
    height: 360px;
    overflow: hidden;
    margin-right: 22.5px;
    margin-bottom: 25px;
    transition: all .5s linear;
}
.product_list li img{
    width: 220px;
    height: 220px;
}

.probox{
    width: 1190px;
    margin: 0 auto; 
    min-height: 2500px; 
	margin-top:50px;
}
