.wrap{
	width:100%;
	min-height:721px;
	background: #333333;
	opacity: 0.8;
	overflow: hidden;
}
.con{
	margin: 0 auto;
	text-align: center;
}

.img{
	width:282px;
	height:282px;
}
.con{
	margin-top:150px;
}
.con h2{
	color:#FFFFFF;
}
.con p{
	color:#FFFFFF;
	text-align: center;
}
.last{
	background: #000000;
	width:250px;
	height:60px;
	border-radius: 30px;
	margin-left:42%;
	margin-top:10px;
	
}